/* COLOR PALETTE

#369958: dark green
#67E694: med green
#8CFFB4: light green
#992A26: reddish brown/brownish maroon
#E66C67: salmon */

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

div#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
}
div.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;

  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  display: flex;
}

a:focus,
a:hover {
  text-decoration: underline;
}
header.App-header {
  padding-bottom: 10px;
  padding-top: 0;
  height: 175px;
  width: 100%;
}

main,
section {
  width: 100vw;
}
main.App-main {
  margin-top: 35px;
  height: 100%;
}
.flex-wrapper-column,
ul.flex-wrapper-column,
.flex-wrapper-column.folder-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-wrapper-row {
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

fieldset {
  border: none;
}

fieldset.activity-form,
fieldset.category-form {
  margin-bottom: 30px;
}

label {
  margin: 5px;
  padding: 10px;
}
input,
.input {
  min-height: 50px;
  width: 200px;
  margin-bottom: 20px;
}

.confirm-password-label {
  padding-top: 19.5px;
}

ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-end;
  justify-content: flex-end;
}

label.add-category {
  padding: 10px;
  margin: 5px;
}

.active {
  background-color: black;
}

.accordion {
  font-size: 1.5rem;
  padding-bottom: 10px;
  border: 2px solid black;
  width: 100vw;
}

.accordion button {
  font-size: 1rem;
}

section.folder-nav {
  padding: 10px 5px 0 5px;
  margin: 0;
  border: none;
}

h3.folder-nav {
  padding: 5px;
  margin: 0;
  font-size: 2.75rem;
}
.expanded button,
.activity-button {
  margin: 10px;
  width: 100px;
}

a {
  text-decoration: none;
  color: #2e864d;
  margin: 0 10px;
}

ul.sidebar {
  margin: 0;
}

.footer {
  background-color: #2e864d;
  padding: 5px;
  margin: 0;
  width: 100vw;
  color: white;
  align-items: flex-end;
  height: 5%;
}

.footer a {
  color: white;
  font-weight: bold;
}

footer a:focus,
footer a:hover {
  color: black;
}
.category-header {
  background-color: #2e864d;
  height: 100px;
  padding: 30px 10px;
}

li {
  list-style: none;
}
