.navbar,
.navbar-top {
  flex-grow: 0;
  height: 100px;
  padding: 5px;
  margin: 0;
  align-items: center;
}

.navbar-top {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}

.navbar-top * {
  margin-right: 20px;
}

.navbar-input {
  flex-grow: 0;
  height: 50px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(11, 90, 57);
}

.login-button {
  width: 75px;
}

.navbar-email,
.navbar-pw {
  display: none;
  color: white;
}

@media screen and (min-width: 845px) {
  .navbar-pw,
  .navbar-email {
    display: flex;
  }
}
