.navbar {
  height: 175px;
}
.navbar,
.navbar-top {
  padding: 5px;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

.navbar .logo {
  width: 45%;
  color: white;
}

.navbar-top {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 55%;
  flex-basis: 100px;
  margin: 0 25px;
}
.navbar-li {
  margin: 10px 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(11, 90, 57);
}
.logo a {
  height: 0;
  margin: 0;
}
.button {
  width: 80px;
  margin: 5px;
}

.dashboard-link {
  margin: 0;
  width: 100%;
}

h1,
h2 {
  margin: 5px;
}

h1 {
  font-size: 2rem;
  color: rgb(22, 160, 210);
}
.tagline {
  font-size: 1rem;
}
